.duymeler{
    display: flex;
    flex-direction: row;
    width: 150px;
    justify-content: space-between;
    height: 30px;
}
.but{ 
   
  
    border: 1px solid black;
    background-color: blue;
    color:white;

}

.but2{ 
   
    border: 1px solid black;
    background-color: green;
    color:white;

}
.but2-danger{ 
   
   
    border: 1px solid black;
    background-color: red;
    color:white;

}
